.contact-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.contact-divider {
  width: 100px;
  border: 2px solid #001529;
  margin-bottom: 30px;
}

.contact-container {
  padding: 20px;
  margin-top: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.contact-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-subtitle-item {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-subtitle-other {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contact-subtitle-icon {
  margin-right: 10px;
  color: #001529;
}

.contact-subtitle-text {
  margin-left: 5px;
}
